.main.signin .welcome {
  max-width: 20em;
  position: fixed;
  top: 50%;
  margin-top: -150px;
  left: 50%;
  margin-left: -10em; }
  .main.signin .welcome .login {
    border: 2px solid;
    padding: 10px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    display: block;
    margin-top: 20px; }
    .main.signin .welcome .login:hover {
      color: black;
      background-color: white; }
