

.wrapper{
    display:grid;
    grid-template-columns: auto [center-col] 400px auto;
    grid-template-rows:[header] 20px [fov-view] 2fr [fov-controls] 1fr [footer] 20px;
}

.wrapper>*{
    grid-column:center-col;
}

.header{
    grid-row:header;
}
.fov-container{
    grid-row:fov-view;
}
.footer{
    grid-row:footer;
}
.controls{
    position:fixed;
    right:0px;
    bottom:0px;
    margin:20px;
}
.controls svg{
    width:300px;
    height:auto;
}


.fov.fov-red{
    background-color:red;
}

.fov.fov-black{
    background-color:black;
}


.fov{
    background-color:blue;
    width:400px;
    height:400px;
}